h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Styles Button*/

.btnAddImg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
    margin-left: 100px;
   
}

button {
    background-color: #303C6C;
    color: white;
    width: 100%;
    height: 30%;
    border: solid;
    border-color: lavender;
    border-style:unset;
    font-size: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor:pointer;
}
