.footer {
  bottom:0px;
  background-color: #FBE8A6;
  width: 100%;
  height: 60px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid;
  border-color:lavender;
  border-radius: 5px;
}

.foot-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5;
    font-family: 'Courier New', Courier, monospace;
}