
/*Styles button*/

.btnSubmit {
    background-color: #b4dfe5;
    color: white;
    width: 100%;
    height: 30%;
    border: solid;
    border-color: lavender;
    border-style:unset;
    font-size: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor:pointer;
}

button:active {

    transform: translateY(4px);
  }


/*Styles Cards*/

.post-card {
    max-width: 300px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: #333;
  }
  

input{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
  }

textarea {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px
  }

.selection {
    margin-top: 10px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 50px;
  background-color: white;
}


.btnCntr .buttonBtnCntr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 20px;
  width:20%;
  height: 20%;
  background-color: red;
  color: white;
  border: solid;
  border-color: lavender;
  border-style:unset;
  font-size: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-style: normal;
  cursor:pointer;
}