
<!--Form add image-->

<div class="formContainer">
  <mat-card class="post-card">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image"></div>
      <mat-card-title>
        <h2>Add an image</h2>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="postsForm" class="ui form">

        <div class="field">
          <label for="title">Title : </label>
          <input type="text" id="titleInput" formControlName="title"> <br>

          <label for="URL">URL : </label>
          <input type="text" id="urlInput" formControlName="url"> <br>

          <label for="date">Date : </label>
          <input type="text" id="dateInput" formControlName="date"> <br>

          <mat-form-field class="categorie">
            <span>Categorie : </span>
            <mat-select class="selection" formControlName="categorie">
              <mat-option value="food">Food</mat-option>
              <mat-option value="travel">Travel</mat-option>
              <mat-option value="quotes">Quotes</mat-option>
            </mat-select>
          </mat-form-field> <br>

          <label for="description">Description : </label>
          <textarea type="text" id="descriptionInput" formControlName="description"></textarea>
        </div>
      </form>
    </mat-card-content>


    <mat-card-actions>
      <button (click)="onSubmit()" class="btnSubmit" type="submit" mat-button>SUBMIT</button>
    </mat-card-actions>

    <div class="btnCntr">
      <button class="buttonBtnCntr" (click)="refresh()">Close</button>
    </div>
  </mat-card>
</div>