.aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

img {
  border-radius: 50%;
  margin-right: 1em;
  margin-left: 50px;
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: row;
}

.aboutMeText {
    margin-left: 50px;
}


